@model Printercounter2.Models.RepairReportList

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RepairReportList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrinterID" class="control-label"></label>
                <select asp-for="PrinterID" class ="form-control" asp-items="ViewBag.PrinterID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnnouncementDate" class="control-label"></label>
                <input asp-for="AnnouncementDate" class="form-control" />
                <span asp-validation-for="AnnouncementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairDate" class="control-label"></label>
                <input asp-for="RepairDate" class="form-control" />
                <span asp-validation-for="RepairDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportedError" class="control-label"></label>
                <input asp-for="ReportedError" class="form-control" />
                <span asp-validation-for="ReportedError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetectedError" class="control-label"></label>
                <input asp-for="DetectedError" class="form-control" />
                <span asp-validation-for="DetectedError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDescription" class="control-label"></label>
                <input asp-for="WorkDescription" class="form-control" />
                <span asp-validation-for="WorkDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsedMaterials" class="control-label"></label>
                <input asp-for="UsedMaterials" class="form-control" />
                <span asp-validation-for="UsedMaterials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Administrator" class="control-label"></label>
                <input asp-for="Administrator" class="form-control" />
                <span asp-validation-for="Administrator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
